@model IEnumerable<Geocoding.Address>

@{
    Layout = "~/views/shared/site.cshtml";
    Page.Title = "Geocoding Sample";
}

<form action="@Url.Action("geocode", "home")" method="get">
    <h2>Geocoding Sample</h2>
    <p>
        <label for="address">Address:</label>
        @Html.TextBox("address")
        <input type="submit" value="Geocode" />
    </p>
    <p>Debug to inspect the objects returned from the API.</p>
</form>

@if (Model != null && Model.Any())
{
    <ul>
    @foreach (var address in Model)
    {
        <li>
            @address.FormattedAddress<br />
            @address.Coordinates
        </li>
    }
    </ul>
}